@tailwind base;

@layer base {
  html,
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    @apply m-0 h-full w-full text-base;
    background: #f3f4f6;
  }

  .custom-scrollbar {
    margin-right: -15px;
    padding-right: 15px;
  }
}

@tailwind components;
@tailwind utilities;

@import "@ctrl/ngx-emoji-mart/picker";
